<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <title>Login Page</title>
    <script src="{% static 'bootstrap/jquery-3.3.1.min.js' %}"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>

    <link rel="STYLESHEET" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
  </head>

  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="fadeIn first">
          <img src="{% static 'imagenes/inicio.png'%}" id="icon" alt="User Icon" />
        </div>

        <form>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
          <input type="button" class="fadeIn fourth" value="Log In" onclick="enviar()">
        </form>

        <div id="formFooter">
          <p class="text-center">¿No tiene cuenta? <a href="{% url 'registro' %}">Registrarse</a> </p>
        </div>
      </div>
    </div>

  </body>
{% csrf_token %}
</html>
