<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <script src="{% static 'bootstrap/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"> </script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/home.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

    <script src="{% static 'js/Chart.js' %}"></script>

    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.css' %}" />
    <script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>

    
</head>

<script>
  function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
  }
</script>
