{% load static %}

{% include '_head.html' %}
{% include '_header.html' %}

<div>
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Formulario de datos</h4>

        <p class="divider-text">
        </p>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input id="nombre" class="form-control" placeholder="Nombre" type="text" value="{{ usuario.nombre}}" autocomplete="off">

            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
                <input id="apellido" class="form-control" placeholder="Apellido" type="text" value="{{ usuario.apellidos}}" autocomplete="off">
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-graduation-cap"></i> </span>
              </div>
              <input id="username" class="form-control" placeholder="Username" type="text" value="{{ usuario.username}}" readonly>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                <input id="password" class="form-control" placeholder="Crear contraseña" type="text" value="{{ usuario.password}}" autocomplete="off">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                <input id="password_repeat" class="form-control" placeholder="Repetir contraseña" type="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block" onclick="validar()"> Guardar Cambios</button>
            </div>
    </article>

    {% csrf_token %}
    <script>
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    var csrftoken = getCookie('csrftoken');
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
                }
        });

        function validar()
        {
            var nombre = $('#nombre').val();
            var apellido = $('#apellido').val();
            var username = $('#username').val();
            var pass1 = $('#password').val();
            var pass2 = $('#password_repeat').val();

            if(pass1 != pass2){
                alert('Las claves no coinciden');
            }
            else if(nombre == "")
            {
                console.log("Nombre Vacio");
                alert("Nombre Vacio por favor ingrese un valor");
            }
            else{
                $.ajax({
                   type: "POST",
                   url: "perfil/actualizar",
                   data: {
                        "username": username,
                        "nombre": nombre,
                        "apellido": apellido,
                        "password": pass1,
                   },
                   success: function() {
                        alert("Datos Actualizados");
                        $('#password_repeat').val("");
                   },
                   failure: function(data){
                        console.log(data);
                   }
                });
            }
        }
        </script>
</div>

{% if usuario.privilegios == 1 %}
    {% include '_config_planta.html' %}
    {% include '_buscarusername.html' %}
{% endif %}

{% if usuario.privilegios == 2 %}
    {% include '_config_planta.html' %}
{% endif %}

{% include '_footer.html' %}